<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Flanker Task</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
</head>
<body>
  <div class="container">
    <header>
      <h1>Thank you for your time!</h1>
      <p>Research study conducted by Meher Damathia (MSc. Clinical Psychology), Christ University</p>
    </header>

    <section class="content">
        <p>Based on your responses, you do not meet the specific inclusion criteria for this study. This simply means your attentional experiences don’t match the particular focus of this research. </p>
        <br>
        <p><strong>We truly appreciate your interest and time. If you have any questions or would like to know more about the study, feel free to contact the researcher at:
          <a href="mailto:meher.damathia@psy.christuniversity.in">meher.damathia@psy.christuniversity.in</a>
        </strong></p>
    </section>
  </div>
</body>
</html>
