<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Flanker Task</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
</head>
<body>
  <div class="container">
    <header>
      <h1>You've completed the asks!</h1>
      <p>Research study conducted by Meher Damathia (MSc. Clinical Psychology), Christ University</p>
    </header>

    <section class="content">
        <h2>Thank you for your participation. You’ve now completed all parts of the experiment.</h2>
        <p>Your responses have been recorded and will help us understand how music tempo affects attention and cognitive performance in young adults.</p>
        <br>
        <p><strong>If you have any questions or would like to receive a summary of the study once it's completed, feel free to contact the researcher at: 
          <a href="mailto:meher.damathia@psy.christuniversity.in">meher.damathia@psy.christuniversity.in</a>
        </strong></p>

    </section>
  </div>
</body>
</html>
